.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {
    width: 100%;
    margin-bottom: 20px;
     width: 1200px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.container-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filter td{
    width: 1200px;
    width: 600px;
}
