.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    a{
        padding: 10px;
        width: 100px;
        text-decoration: none;
        color: #000;
    }
}

.navbar td{

    padding-left: 25px;
}

.login-registrar {
    display: flex;
    width: 20%;
    justify-content: end;

}

.login-registrar td{
    
    padding-left: 25px;
    

}