<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>MyPlace</span>

      <div class="navbar">
        <div class="navbar">
          <table class="navbar-items">
            <td><a href="/produtos">Produtos</a></td>
            <td><a href="/funcionarios">Funcionários</a></td>
            <td><a href="/sobre">Sobre</a></td>
          </table>
        </div>

        <div class="login-registrar">
          <table class="navbar-items">
            <td><a href="/cadastro" mat-raised-button color="accent">Cadastrar</a></td>
            <td><a mat-raised-button color="accent">Login</a></td>
          </table>
        </div>
      </div>
      
</mat-toolbar-row>