<div class="container">
    <div class="container-cadastro" >
      <form class="example-form">
        
       <div class="nome-form">
          <span>Cadastro de Usuário</span>
       </div>
      
        <div class="form-container">
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Sobrenome</mat-label>
              <input matInput>
            </mat-form-field></td>
          </tr></table>
        
          <p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input id="teste" type="email" matInput [formControl]="emailFormControl" placeholder="Ex. email@email.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Por favor insira um email válido
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                O Email é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="Digite sua senha">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Confirmar Senha</mat-label>
              <input matInput placeholder="Confirme sua senha">
            </mat-form-field></td>
            
          </tr></table>
        </div>

        <div class="button-cadastrar">
          <button mat-raised-button color="primary">Cadastrar</button>
        </div>
      </form>
    </div>
</div>